@use "../tools" as *;

.l-footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  inline-size: 100%;
  min-block-size: 3.5rem;
  border-block-start: 1px solid var(--color-border);
  background-color: var(--color-surface);
  color: var(--color-muted);
  font-size: 0.75rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    block-size: 100%;
  }

  @include mq(min, w, md) {
    font-size: 0.8125rem;
  }
}
