@use "../tools" as *;

.c-alert {
  margin-block-end: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-error-bg);
  border-radius: var(--radius-sm);
  font-size: 0.875rem;

  &.is-error {
    background-color: var(--color-error-bg);
    color: var(--color-error);
  }

  &.is-success {
    border-color: var(--color-success-bg);
    background-color: var(--color-success-bg);
    color: var(--color-success);
  }

  @include motion-safe {
    animation: fade 0.3s ease-out both;
  }
}
