@use "../../../styles/tools" as *;

.p-task-list {
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__loading {
    --mat-progress-spinner-active-indicator-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block: 4rem;
    color: var(--color-muted);
    font-size: 0.9375rem;
  }

  &__actions {
    position: fixed;
    z-index: 100;
    inset-block-end: 4rem;
    inset-inline-end: 2rem;
  }
}
