<div class="container py-5 l-page">

  <div class="c-page-header p-task-list__header">

    <div>

      <h2 class="c-page-header__title">
        Task List
      </h2>

      <p class="c-page-header__description">
        Manage your tasks easily
      </p>

    </div>

  </div>


  @if (!loaded()) {

    <div class="p-task-list__loading" role="status">
      <mat-spinner diameter="44"></mat-spinner>
      <span>Loading your tasks…</span>
    </div>

  } @else if (tasks().length === 0) {

    <mat-card class="c-card is-auto-height c-empty-state">

      <mat-card-content class="c-empty-state__body d-flex flex-column align-items-center">

        <div class="c-empty-state__illustration" aria-hidden="true">
          <span class="c-empty-state__ring"></span>
          <span class="c-empty-state__ring is-outer"></span>

          <div class="c-empty-state__icon">
            <mat-icon>playlist_add</mat-icon>
          </div>

          <span class="c-empty-state__spark is-one">
            <mat-icon>auto_awesome</mat-icon>
          </span>
          <span class="c-empty-state__spark is-two">
            <mat-icon>check_circle</mat-icon>
          </span>
        </div>

        <h3 class="c-empty-state__title">
          No tasks yet
        </h3>

        <p class="c-empty-state__text">
          Your list is empty. Add your first task to start organizing your day
          and keep track of what's done.
        </p>

        <a
          mat-raised-button
          routerLink="/add-task"
          class="c-button is-primary"
        >
          <mat-icon class="c-button__icon">
            add
          </mat-icon>

          Create your first task
        </a>

        <ul class="c-empty-state__tips">
          <li>
            <mat-icon>edit_note</mat-icon>
            Give it a clear title
          </li>
          <li>
            <mat-icon>description</mat-icon>
            Add a short description
          </li>
          <li>
            <mat-icon>task_alt</mat-icon>
            Mark it done when finished
          </li>
        </ul>

      </mat-card-content>

    </mat-card>

  } @else {

  <div class="row g-4">

    @for (task of tasks(); track task.id; let i = $index) {

      <div class="col-12 col-md-6 col-lg-4">

      <mat-card
        class="c-card c-task-card is-interactive"
        [style.animation-delay.ms]="i * 70"
        [routerLink]="taskLink()"
        [state]="{ task }"
      >

        <mat-card-content class="c-task-card__content">

          <div class="c-task-card__header">

            <div class="c-task-card__heading">

              <div class="c-icon-badge">
                <mat-icon class="c-icon-badge__icon">
                  task_alt
                </mat-icon>
              </div>

              <h5 class="c-task-card__title">
                {{ task.title }}
              </h5>

            </div>


            @if (task.completed) {

              <mat-chip class="c-chip is-success">

                <mat-icon>
                  check_circle
                </mat-icon>

                Completed

              </mat-chip>

            } @else {

              <mat-chip class="c-chip is-warning">

                <mat-icon>
                  schedule
                </mat-icon>

                Pending

              </mat-chip>

            }

          </div>


          <mat-divider class="c-card__divider"></mat-divider>


          <p
            #desc
            #tip="matTooltip"
            class="c-task-card__description"
            (mouseenter)="tip.disabled = desc.scrollHeight <= desc.clientHeight"
            [matTooltip]="task.desc"
            matTooltipPosition="above"
            matTooltipClass="c-tooltip"
          >
            {{ task.desc }}
          </p>


          <div class="c-task-card__footer">

            <span>
              View task
            </span>

            <mat-icon class="c-task-card__arrow">
              arrow_forward
            </mat-icon>

          </div>

        </mat-card-content>

      </mat-card>

      </div>

    }

  </div>

  }

</div>


@if (tasks().length > 0) {

  <div class="p-task-list__actions">

    <a
      mat-raised-button
      routerLink="/add-task"
      class="c-button is-primary"
    >
      <mat-icon class="c-button__icon">
        add
      </mat-icon>

      Add Task
    </a>

  </div>

}
