<div class="container py-5 l-page">

  <div class="c-page-header p-task-list__header">

    <div>

      <h2 class="c-page-header__title">
        Task List
      </h2>

      <p class="c-page-header__description">
        Manage your tasks easily
      </p>

    </div>

    <a
      mat-raised-button
      routerLink="/add-task"
      class="c-button is-light"
    >
      <mat-icon class="c-button__icon">
        add
      </mat-icon>

      Add Task
    </a>

  </div>


  <div class="p-task-list__grid">

    @for (task of taskService.tasks(); track task.id; let i = $index) {

      <mat-card
        class="c-card c-task-card is-interactive"
        [style.animation-delay.ms]="i * 70"
        [routerLink]="['/task', task.id]"
      >

        <mat-card-content class="c-task-card__content">

          <div class="c-task-card__header">

            <div class="c-task-card__heading">

              <div class="c-icon-badge">
                <mat-icon class="c-icon-badge__icon">
                  task_alt
                </mat-icon>
              </div>

              <h5 class="c-task-card__title">
                {{ task.title }}
              </h5>

            </div>


            @if (task.completed) {

              <mat-chip class="c-chip is-success">

                <mat-icon>
                  check_circle
                </mat-icon>

                Completed

              </mat-chip>

            } @else {

              <mat-chip class="c-chip is-warning">

                <mat-icon>
                  schedule
                </mat-icon>

                Pending

              </mat-chip>

            }

          </div>


          <mat-divider class="c-card__divider"></mat-divider>


          <p class="c-task-card__description">
            {{ task.desc }}
          </p>


          <div class="c-task-card__footer">

            <span>
              View task
            </span>

            <mat-icon class="c-task-card__arrow">
              arrow_forward
            </mat-icon>

          </div>

        </mat-card-content>

      </mat-card>

    }

  </div>

</div>
