@use '@angular/material' as mat;
@use 'styles/generic';
@use 'styles/elements';
@use 'styles/components';
@use 'styles/layout';
@use 'styles/modules';
@use 'styles/utilities';
@use 'styles/theme';

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}
