.app-footer {
  height: 56px;
  width: 100%;
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;

  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-secondary)
  );

  color: var(--color-white);

  position: relative;
  z-index: 9999;
}

.footer-content {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.75rem;
}

.footer-content span {
  color: var(--color-footer-text);
}

@media (max-width: 47.9375rem) {
  .footer-content {
    font-size: 0.7rem;
  }
}